@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto Mono", Monospace;
  font-weight: bold;
}

html {
  background: url(img/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg) center no-repeat
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

header {
  background-color: rgba(224, 160, 40, 0.5);
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0);
  border-radius: 2em;
  margin-top: 0.2em;
}

body {
  width: 60%;
  height: 100vh;
  text-align: center;
  margin: 100px auto;
  padding: 50px;
}

main {
  background-color: rgba(99, 32, 238, 0.8);
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.8);
  padding: 2.5em;
  border-radius: 2em;
}
.submit-button {
  width: 50%;
  padding: 2em;
  background-color: black;
  color: white;
  font-size: 1.2em;
}

@media only screen and (min-width: 1400px) {
  button.submit-button {
    font-size: 2em;
    background-color: black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 0px rgb(51, 47, 47), 0px 10px 20px rgb(46, 45, 45);
    transition: all 0.2 ease-in-out;
  }
  button:active {
    box-shadow: none;
    top: 8px;
  }

  h1 {
    font-size: 4em;
  }
  p,
  label {
    font-size: 3em;
  }
  input {
    height: 50px;
    width: 200px;
    font-size: 2em;
  }
  textarea {
    min-width: 700px;

    max-width: 1000px;
  }

  .submit-button {
    height: 50px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1440px) {
  body {
    height: 80%;
    width: auto;
    font-size: 1em;
  }

  textarea {
    min-width: 50%;
    max-width: 75%;
  }

  button.submit-button {
    background-color: black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 0px rgb(51, 47, 47), 0px 10px 20px rgb(46, 45, 45);
    transition: all 0.2 ease-in-out;
  }
  button:active {
    box-shadow: none;
    top: 8px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    height: 100%;
    width: 100%;
    font-size: 1em;
  }

  input {
    max-width: 90%;
  }
  textarea {
    min-width: 80%;
    max-width: 100%;
  }

  button.submit-button {
    width: auto;
    background-color: black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 0px rgb(51, 47, 47), 0px 10px 20px rgb(46, 45, 45);
    transition: all 0.2 ease-in-out;
  }
  button:active {
    box-shadow: none;
    top: 8px;
  }
}
